<template>
  <div class="dynamicpage">
    <div class="dynamicpage_text">
      <span>Заказ {{ post.id }}</span>
      <span>Заказчик:{{ post.contract_user_creator?.user_name }}</span>
      <span>Адрес:{{ post.contract_address?.country }},{{ post.contract_address?.city }},{{ post.contract_address?.street }},{{ post.contract_address?.build }},
        кв:{{ post.contract_address?.apart }} </span>
      <span> Заголовок:{{ post.contract_title }} </span>
      <span>Описание:{{ post.contract_description }} </span>
      <span>Дата создания:{{ post.contract_created_date }} </span>
      <span> Начать:{{ post.contract_up_to_date }} </span>
      <span>Прикрепленные файлы :</span>
    </div>
    <hooper :settings="hooperSettings">
        <slide v-for="slide in image" :key="slide.id">
          <img :src="slide" alt="1"
        /></slide>
        <!-- <slide> <img :src="image" alt="1" /></slide> -->
        <hooper-navigation slot="hooper-addons"></hooper-navigation>
      </hooper>
  </div>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
export default {
  
  middleware: ["auth"],
  components: {
    Hooper,
    Slide,
    HooperNavigation,
  },
  data() {
    return {
      image: [],
      hooperSettings: {
        itemsToShow: 2,
        centerMode: true,
      },
    };
  },
 async mounted() {
    this.getOnePost(this.$route.params.id)
    // console.log(this.post);
    setTimeout(() => this.post.contract_user_creator.avatars.forEach((element) => {
      console.log(element);
        this.getPhotos(element.id);
        const blob = new Blob([this.photos]);
        //  let objectURL = URL.createObjectURL(blob);
        //  console.log(blob);
        let reader = new FileReader();
        reader.readAsDataURL(blob);
        reader.onload = () => {
          // console.log(reader.result);
          // this.image.push(reader.result);
          this.image.push(reader.result);
          // console.log(this.image);
        };
      }), 1000);
   
  },
  methods: {
    async getOnePost(id) {
      await this.$store.dispatch("getOnePost", id);
    },
    async getPhotos(id) {
      await this.$store.dispatch("getPhotos", id);
    },
  },
  computed: {
    post() {
      return this.$store.getters["getOnePost"];
    },
    photos() {
      return this.$store.getters["getPhotos"];
    },
  }
};
</script>

<style scoped>
img{
  width: 100%;
}
span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.563rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.24px;
  color: #000000;
}
</style>