<template >
  <div class="header">
    <div class="header__logo" :class="{
      m0: this.$route.name == `ordering-id`,
    }">
      <div onclick="history.back()" v-if="this.$route.name == `ordering-id`" class="header__logo_logout">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.7498 24.8996L10.5998 16.7496C9.6373 15.7871 9.6373 14.2121 10.5998 13.2496L18.7498 5.09961"
            stroke="#999999" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span class="header__logo_logout_title">Назад</span>
      </div>
      <img src="~/assets/img/FASTSTROI.svg" alt="FASTSTROI" />
      <div class="header__logo_logout" @click="logout">
        <span class="header__logo_logout_title">Выход</span>
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.25 26.25H6.25C5.58696 26.25 4.95107 25.9866 4.48223 25.5178C4.01339 25.0489 3.75 24.413 3.75 23.75V6.25C3.75 5.58696 4.01339 4.95107 4.48223 4.48223C4.95107 4.01339 5.58696 3.75 6.25 3.75H11.25"
            stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M20 21.25L26.25 15L20 8.75" stroke="#999999" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M26.25 15H11.25" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
    <div class="header__navbar">
      <nuxt-link to="/" class="header__navbar_item"><span>Управление подрядчиками</span>
      </nuxt-link>
      <nuxt-link to="/orders" class="header__navbar_item"><span>Управление заказами</span>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    async logout() {
      await this.$auth.logout();
    }
  }
};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: column;
  margin: 2rem 7.313rem 0;
  padding-bottom: 1.719rem;
  border-bottom: 1px solid #747474;

  &__logo {
    display: flex;
    margin-left: calc(50% - 314px / 2);
    justify-content: space-between;

    &_logout {
      display: flex;
      gap: 0.688rem;
      align-items: center;
      cursor: pointer;

      &_title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 1.563rem;
        line-height: 1.5rem;
        color: #999999;
      }
    }
  }

  &__navbar {
    display: flex;
    justify-content: center;
    gap: 4.063rem;
    margin-top: 2.938rem;

    &_item {
      border-radius: 0.813rem;
      text-decoration: none;
      background-color: rgba(48, 195, 209, 0.1);
      height: 3.75rem;
      width: 28.75rem;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 1.563rem;
        line-height: 1.5rem;
        color: #747474;
      }
    }
  }
}
</style>