<template>
  <div class="column">
    <div
      v-for="column in columns"
      :key="column.id"
      class="column__container"
    >
      <span class="column__title">{{ column.name }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    columns: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
    //   clicked: false,
    };
  },
  methods: {
  
  },
};
</script>

<style lang="scss" scooped>
</style>