<template>
  <div class="column">
    <slot></slot>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{ order.id }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{ order.contract_user_creator.user_name }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">{{ order.contract_title }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">{{ order.contract_description }} </span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">{{order.contract_address.country}},{{order.contract_address.city}},{{order.contract_address.street}},{{order.contract_address.build}}, кв:{{order.contract_address.apart}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{ order.contract_price }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">  {{ order.contract_created_date }} </span>
    </div>
     <div class="column__container_grey">
      <span class="column__title_grey">  {{ order.contract_user_creator.rating }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {};
  },
  mounted(){
    // console.log(this.order);
  },
  methods: {
    // formatDate(event) {
    //   let date = new Date(event);
    //   var options = {
    //     month: "numeric",
    //     day: "numeric",
    //     year: "numeric",
    //     // hour: "numeric",
    //     // minute: "numeric",
    //   };
    //   return date.toLocaleString("ru", options);
    // },
    // formatTime(event) {
    //   let time = event.split(".");
    //   return time[0];
    // },
    // addApplication($event, value) {
    //   if ($event.target.checked) {
    //     this.$store.commit("SetSelectedApplication", value);
    //   } else {
    //     this.$store.commit("removeApplication",value);
    //   }
    // },
  },
};
</script>

<style>

</style>