<template>
  <div class="column">
    <slot></slot>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{ user.id }}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">  {{user.contractor_profile.user_name}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.contractor_profile.user_birthday}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.contractor_profile.user_reg_date}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.contractor_profile.user_email}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">{{user.contractor_profile.user_phone}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.contractor_profile.rating}}</span>
    </div>
     <div class="column__container_grey">
      <span class="column__title_grey"> {{user.contractor_profile.user_name}}, {{user.contractor_profile.user_birthday}},  {{user.contractor_profile.user_email}}, {{user.contractor_profile.user_phone}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey">{{user.contractor_description}}</span>
    </div>
    <div class="column__container_grey">
      <span class="column__title_grey"> {{user.contractor_card_address.country}},{{user.contractor_card_address.city}},{{user.contractor_card_address.street}},{{user.contractor_card_address.build}}, кв:{{user.contractor_card_address.apart}} </span>
    </div>
     <div class="column__container_grey">
      <span class="column__title_grey"> {{user.contractor_act_date}}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {};
  },
  mounted(){
  
  },
  methods: {
    // formatDate(event) {
    //   let date = new Date(event);
    //   var options = {
    //     month: "numeric",
    //     day: "numeric",
    //     year: "numeric",
    //     // hour: "numeric",
    //     // minute: "numeric",
    //   };
    //   return date.toLocaleString("ru", options);
    // },
    // formatTime(event) {
    //   let time = event.split(".");
    //   return time[0];
    // },
    // addApplication($event, value) {
    //   if ($event.target.checked) {
    //     this.$store.commit("SetSelectedApplication", value);
    //   } else {
    //     this.$store.commit("removeApplication",value);
    //   }
    // },
  },
};
</script>

<style>
</style>