@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-checkbox {
    position: absolute;
    // left: -2.506rem;
    // margin-top: 1.313rem;
    z-index: -1;
    opacity: 0;
}

.checkbox_item_label {
    position: absolute;
    left: -2.506rem;
    margin-top: 1.313rem;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.m0 {
    margin-left: 0 !important;
}

.disabled {
    opacity: .5;
    cursor: default !important;
}

.custom-checkbox:checked+label::before {
    border-color: #30C3D1;
    background-color: #30C3D1;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.header_login {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.75rem solid rgba(48, 195, 209, 0.4);
    margin: 3.25rem 1.563rem 0;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 15.125rem;
}

.login_btn {
    display: flex;
    width: 21.375rem;
    height: 3rem;
    background-color: #30C3D1;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.625rem;
    margin-top: 4.188rem;
    cursor: pointer;

    &_title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: center;

        color: #FFFFFF;
    }
}

// .nuxt-link-active{
//     border: 6px solid #30C3D1;
// }
.nuxt-link-exact-active {
    border: 6px solid #30C3D1;

    span {
        color: rgba(0, 0, 0, 0.9) !important;
    }

}

.main {
    display: flex;
    margin: 1.188rem 1.625rem 0 2rem;
    justify-content: space-between;
    gap: 5rem;

    &__panel {
        display: flex;
        flex-direction: column;
        min-width: 18.625rem;
        gap: 0.563rem;

        &_btn {
            background: #30C3D1;
            border-radius:0.625rem;
            width: 18.625rem;
            height: 2.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 1.063rem;
            line-height: 120%;
            color: #FFFFFF;
        }

        &_cancel {
            text-align: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 0.938rem;
            line-height: 120%;
            letter-spacing: -0.015rem;
            color: #30C3D1;
            cursor: pointer;
        }
    }

    &__list {
        width: 100%;
    }
}

.column {
    display: flex;
    // justify-content: space-between;
    // margin: 0 4.375rem 0.313rem 7.5rem;
    gap: 0.313rem;
    margin-bottom: .3rem;
    position: relative;

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 6.7vw;
        height: 3.75rem;
        background-color: rgba(48, 195, 209, 0.5);
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 0.688rem;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.015rem;

        color: #000000;
    }

    &__container_grey {
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 6.7vw;
        width: 100%;
        height: 3.75rem;
        background-color: #EAECF0;
        gap: 0.3rem;
        overflow: hidden;
    }

    &__title_grey {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 0.688rem;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.015rem;
        color: #0C0934;
    }
}

.dynamicpage {
    margin: 1.656rem 5.125rem 0;

    &_text {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.438rem;
    }
}
@media screen and (max-width: 2130px) {
    html {
        font-size: 100%;
    }
}
@media screen and (max-width: 1930px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1858px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width: 1620px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 1306px) {
    html {
        font-size: 30%;
    }
}

@media screen and (max-width: 1177px) {
    html {
        font-size: 20%;
    }
}