<template>
  <div >
    <headerElement/>
    <nuxt />
  </div>
</template>

<script>
import headerElement from "~/components/header.vue";
export default {
  components: {
    headerElement,
  },
};
</script>

<style>
</style>