<template>
  <div class="main">
    <aside class="main__panel">
      <!-- <button class="main__panel_btn" :disabled="checkedUsers.length == 0" :class="{
        disabled: checkedUsers.length == 0,
      }">
        Заблокировать выбранных
      </button> -->
      <button @click="sendStatus(`actual`)" class="main__panel_btn" :disabled="checkedUsers.length == 0" :class="{
        disabled: checkedUsers.length == 0,
      }">
        Подтвердить исполнителя
      </button>
      <span  @click="sendStatus('deny')" class="main__panel_cancel" :disabled="checkedUsers.length == 0" :class="{
        disabled: checkedUsers.length == 0,
      }">Отклонить</span>
    </aside>
    <div class="main__list">
      <NameOfColumn :columns="columns" />
      <UserListComponent v-for="(user, index) in users" :key="user.id" :user="user">
        <input class="custom-checkbox" type="checkbox" :value="user" v-model="checkedUsers" :id="index" />
        <label :for="index" class="checkbox_item_label"></label>
      </UserListComponent>
    </div>
  </div>
</template>

<script>
import NameOfColumn from "~/components/NameOfColumn";
import UserListComponent from "~/components/UserListComponent";
export default {
  middleware: ["auth"],
  components: {
    NameOfColumn,
    UserListComponent,
  },

  data() {
    return {
      checkedUsers: [],
      columns: [
        {
          id: 1,
          name: "ID",
        },
        {
          id: 2,
          name: "Имя Фамилия",
        },
        {
          id: 3,
          name: "Дата рождения",
        },
        {
          id: 4,
          name: "Дата регистрации",
        },
        {
          id: 5,
          name: "Email",
        },
        {
          id: 6,
          name: "Номер телефона",
        },
        {
          id: 7,
          name: "Рейтинг",
        },
        {
          id: 8,
          name: "Исполнитель",
        },
        {
          id: 9,
          name: "Описание подрядчика",
        },
        {
          id: 10,
          name: "Адрес подрядчика",
        },
        {
          id: 11,
          name: "Актуален с",
        },
      ],
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      this.$store.dispatch("getAllUsers");
    },
    sendStatus(status){
      let checkedApplicationsId = [];
      this.checkedUsers.forEach((element) => {
        checkedApplicationsId.push(element.id);
      });
      this.$store.dispatch("workWithUsers", {
        parameter: status,
        id: checkedApplicationsId,
      });
      this.checkedApplications = []
    }
  },
  computed: {
    users() {
      return this.$store.getters["getUsers"];
    },
  }

};
</script>

<style></style>