<template>
  <div>
    <div class="header_login">
      <img src="~/assets/img/FASTSTROI.svg" alt="FASTSTROI" />
    </div>
    <form class="login_form" action="#" @submit.prevent="submit">
      <label for="login">
        E-mail
        <input placeholder="Укажите e-mail" type="email" name="login" id="login" v-on:keyup.enter="submit"
          class="login_input" required v-model="login" />
      </label>
      <label for="password">
        Пароль
        <input placeholder="Укажите пароль" type="password" name="password" id="password" class="login_input"
          v-model="password" v-on:keyup.enter="submit" required />
      </label>
      <button class="login_btn" type="submit">
        <span class="login_btn_title">Войти</span>
      </button>
    </form>
  </div>
</template>

<script>
export default {
  layout: "empty",
  data() {
    return {
      login: "",
      password: "",
    };
  },
  methods: {
    async submit() {
      let login = {
        name: this.login,
        password: this.password,
      };
      let test = await this.$auth.loginWith("local", {
        data: login,
      });
      // try 
      //   console.log(this.$router);
      this.$auth.setUser(test.data.username)
      //   // location.reload();
      // } catch (err) {
      //   console.log(err);
      //   // if (err.response.status == 401 || err.response.status == 400) {
      //   //   this.errorNotFoundAccount = true;
      //   // } else if (err.response.status == 422) {
      //   //   this.errorValidEmail = true;
      //   // }
      // }
    },
  },
};
</script>

<style lang="scss" scoped>
img {
  margin-bottom: 2rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.login_input {
  border: 1px solid #eaecf0;
  border-radius: 0.625rem;
  width: 21.375rem;
  height: 3rem;
  outline: none;
  padding: 0 1rem;
}

.login_input:focus {
  border: 2px solid rgba(48, 195, 209, 0.4);
}

label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 17px;
  color: #344054;
}
</style>