<template>
  <div class="main">
    <aside class="main__panel">
      <button @click="toOrder" class="main__panel_btn" :disabled="checkedOrders.length == 0 || checkedOrders.length > 1"
        :class="{
          disabled: checkedOrders.length == 0 || checkedOrders.length > 1,
        }">
        Подробнее о заказае
      </button>
      <button @click="changeStatus('active')" class="main__panel_btn" :disabled="checkedOrders.length == 0" :class="{
        disabled: checkedOrders.length == 0,
      }">
        Подтвердить выбранное
      </button>
      <span  @click="changeStatus('deny')" class="main__panel_cancel" :disabled="checkedOrders.length == 0" :class="{
        disabled: checkedOrders.length == 0,
      }">Отклонить</span>
    </aside>
    <div class="main__list">
      <NameOfColumn :columns="columns" />
      <OrdersListComponent v-for="(order, index) in posts" :key="order.id" :order="order">
        <input class="custom-checkbox" type="checkbox" :value="order" :id="index" v-model="checkedOrders" :name="index" />
        <label class="checkbox_item_label" :for="index"></label>
      </OrdersListComponent>
    </div>
  </div>
</template>

<script>
import NameOfColumn from "~/components/NameOfColumn";
import OrdersListComponent from "~/components/OrdersListComponent";
export default {
  middleware: ["auth"],
  components: {
    NameOfColumn,
    OrdersListComponent,
  },
  data() {
    return {
      checkedOrders: [],
      columns: [
        {
          id: 1,
          name: "ID",
        },
        {
          id: 2,
          name: "Заказчик",
        },
        {
          id: 3,
          name: "Заголовок",
        },
        {
          id: 4,
          name: "Описание заказа",
        },
        {
          id: 5,
          name: "Адрес",
        },
        {
          id: 6,
          name: "Бюджет",
        },
        {
          id: 7,
          name: "Дата создания",
        },
        {
          id: 8,
          name: "Рейтинг заказчика",
        },
      ],
    };
  },
  mounted() {
    this.getPosts();
  },
  methods: {
    toOrder() {
      this.$router.push(`/ordering/${this.checkedOrders[0].id}`);
    },
    getPosts() {
      this.$store.dispatch("getAllPosts");
    },
    changeStatus(status){
      let checkedApplicationsId = [];
      this.checkedOrders.forEach((element) => {
        checkedApplicationsId.push(element.id);
      });
      this.$store.dispatch("workWithOrders", {
        parameter: status,
        id: checkedApplicationsId,
      });
      this.checkedOrders = []
    }
  },
  computed: {
    posts() {
      return this.$store.getters["getPosts"];
    },
  }
};
</script>

<style lang="scss" scoped></style>